@import url('https://fonts.googleapis.com/css?family=Cabin:400,500i,700|Source+Sans+Pro:700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0; 
    font-family: Cabin, Arial, sans-serif;
    
    /* scroll behaviour */
    scroll-behavior: smooth;
    
    background-color: black;
}

* {
    box-sizing: border-box;
}

/* accessibility */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;s
	}
}

p   {
    color: white;
    font-family: Cabin, Arial, sans-serif;
    font-weight: 400;
}

h   {
    color: white;
    font-family: Cabin, Arial, sans-serif;
}

/* ----------- Formatting Divs ----------------*/
#top    {
    margin: 0 auto;
}

.bodyfixes  {
    transform: translate(0, -80px)
}

.main   {
    margin: 20px;
    background-color: white;
    
    width: 1024px;
    
    box-shadow: 0px 0px 0px;
}

/* ++++++++++++++++++++Nav++++++++++++++++++++ */
.nav    {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    
    z-index: 9999;
    
    background-color: black;
    
    height: 75px;
    box-shadow: 0px 0px 10px #010101;
}

.nav a  {
    text-decoration: none;
    color: RGB(240, 240, 240);
    font-weight: 600;
    
    font-size: 26px;
}

.nav ul {

    margin-left: 30px;
    
    padding: 10px;
    text-decoration: none;
    list-style-type: none;

}

.nav li {
    padding-right: 20px;

    transition: all 0.3s;
    font-size: 35px;
    
    float:left;
}


.nav li:hover   {
    padding-left: 10px;
    padding-right: 20px;
    
    border-left: 2px solid RGB(204, 108, 53);
    
    transition-duration: 0.5s;
    animation-duration: 0.5s;
}

/* ++++++++++++++++++++Hero Picture++++++++++++++++++++ */

.heropicture {
    background-image: url("images/headerpic.jpg");

    height: 100%; 
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   

.herotitle  {
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
    width: 50%;
}

.herotitle  a {
    font-size: 20px;
}

.herotitle h    {
    font-size: 40px;
    color: white;
    font-weight: 600;
    
    margin-bottom: 10px;
}

.herotitle p     {
    margin-top: 10px;
    font-size: 20px;
    
    font-family: Cabin, Arial, sans-serif;
    font-weight: 400l
}

.herotitle button   {
    background-color: transparent;
    border: 0;
    color: white;
    text-decoration: none;
    font-size: 16px;

    text-align: center;
    
    transition: all 0.3s;
    

}

.herotitle button:hover {
    color: gray;

    transition-duration: 0.3s;
    
    transform: translate(0px, 5px);
    
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.herotitle button:active    {
    transform: translate(0px 20px);
    
}

/* ++++++++++++++++++++Social Media Icons++++++++++++++++++++ */
.herotitle ul {
    list-style-type: none;

    magin-right: 0px;
}
.herotitle li {
    float:left;
    margin-left: 0px;
}

.fa {
    padding-right: 20px;
    font-size: 30px;
    height: 50px;
    text-decoration: none;
    
    color: white;
    
    transition: all 0.3s;
}

.fa:hover   {
    transform: translate(0px, -2px);
    
    color: RGB(150, 150, 200);
    
    animation-duration: 0.2s;
    transition-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

/* ++++++++++++++++++++Anchors++++++++++++++++++++ */ 
a.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

/* ++++++++++++++++++++Intro Content Section++++++++++++++++++++ */
.section    {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
    
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px
}

#intro  {
    background-color: black;
}

.header {
    background-image: url(images/headshot.jpg);
    
    width: 100%;
    
    max-width: 800px;
    height: 50vh;;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 0 auto;
    
    border-radius: 50px;
}

.titlehover {
    background-color: RGBA(204, 108, 53, 0.7);
    padding: 20px;
    width: 350px;
    margin-left: auto;
    transform: translate(20px, 50px);
    
    border-radius: 20px;
    box-shadow: 0px 0px 10px #010101;
}


.textpadding  {
    padding: 30px;
}

.section h  {
    font-weight: 600;
    font-size: 30px;
    
    color: white;
    margin-top: 20px;
}

.section p  {
    font-size: 20px;
    
    color: white;
}

.mobile-header   {
    display: none;
}

/* resizing for mobile views */
@media screen and (max-width: 640px)   {
    .section  {
        width: 100%;
    
        padding: 0px;
    }
    
    .titlehover {
        transform: translate(0, 0);
        background-color: transparent;
        
        text-align: center;
        padding: 10px;
        width: inherit;
        
        display: none;
    }
    
    .header titlehover  {
        display: none;
    } 
    
    .titlehover h   {
        color: RGB(204, 108, 53);
    }
    
    .introtext  {
        transform: translate(0, 0);
        background-color: transparent;

        padding: 10px;
        width: inherit;
        display: none;
    }
    
    .textpadding  {
        padding: 0px;
    }
    
    .header {
        width: 100%;
        height: 500px;
        border-radius: 0px;
        
        padding: 0px;
        margin: 0px;
    }
    
    .mobile-header  {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
    }
    
    .mobile {
        display: block;
        padding: 0;
    }
    
    .non-mobiletext {
        display: none;
        width: 100%;
    }
    
    .nav    {
        width: 100%;
        height: 75px
    }
    
    .nav a {
        font-size: 20px;
    }
    
    .section h  {
        font-size: 25px;
    }
    
    .section p  {
        font-size: 14px;
    }
    
    .section h2 {
        font-size: 20px;
    }
    
    #video h3 {
        font-size: 16px;
        padding: 10px;
    }
}

@media screen and (max-width: 450px)   {

}

/* ++++++++++++++++++++Video Content Section++++++++++++++++++++ */
#video {
    padding-bottom: 20px;
}

#video h {
    margin: 20px;

}

#video h2 {
    margin: 20px;
    color: white;

    padding-left: 10px;
}

#video h3 {
    color: white;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 25px;
}

#video p {
    margin: 20px;
    color: white;
}

#munich {
    border-left: 5px solid #175788;
}

#uwo {
    border-left: 5px solid #4F2683;
}

#wfn {
    border-left: 5px solid #a33221;
}

#hw6 {
    border-left: 5px solid #d1a072;
}

#personal   {
    border-left: 5px solid RGB(204, 108, 53);
}

.wrapper {
  overflow: hidden;
  padding-top: 50%;
  position: relative;
}
 
.wrapper iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.item p {
    
}

.newpadding {
    background-color: black;
    padding-top: 20px;
}

.footer {
    background-color: RGB(204, 108, 53);
    padding: 20px;
    width: 100%;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: black;
    transition-duration: 0.5s;
}



