@import url('https://fonts.googleapis.com/css?family=Cabin:400,500i,700|Source+Sans+Pro:700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Cabin, Arial, sans-serif;

    /* scroll behaviour */
    scroll-behavior: smooth;

    background-color: black;
}

* {
    box-sizing: border-box;
}

/* accessibility */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;s
	}
}

p   {
    color: white;
    font-family: Cabin, Arial, sans-serif;
    font-weight: 400;
}

h   {
    color: white;
    font-family: Cabin, Arial, sans-serif;
}

/* ----------- Formatting Divs ----------------*/
#top    {
    margin: 0 auto;
}

.bodyfixes  {
    transform: translate(0, -80px)
}

.main   {
    margin: 20px;
    background-color: white;

    width: 1024px;

    box-shadow: 0px 0px 0px;
}

/* ++++++++++++++++++++Nav++++++++++++++++++++ */
.nav    {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

    z-index: 10;

    background-color: RGB(204, 108, 53);

    height: 50px;
    box-shadow: 0px 0px 10px #010101;
}

.nav a  {
    text-decoration: none;
    color: RGB(240, 240, 240);
    font-weight: 600;

    font-size: 20px;
}

.nav ul {
    padding-top: 10px;
    text-decoration: none;
    list-style-type: none;

}

.nav li {
    padding-right: 30px;

    transition: all 0.3s;

    float:left;
}


.nav li:hover {
    padding-left: 10px;
    padding-right: 20px;

    transition-duration: 0.5s;
    animation-duration: 0.5s;
}


.nav li:hover > a {
    color: grey;
    transition-duration: 0.5s;
    animation-duration: 0.5s;
}

/* ++++++++++++++++++++Hero Picture++++++++++++++++++++ */

.heropicture {
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video {
    background-color: RGB(204, 108, 53);
}

.code   {
    background-color: rgb(3, 161, 252);
}

.design {
    background-color: rgb(111, 189, 114);
}

.herotitle  {
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 50%;
}

.herotitle  a {
    font-size: 20px;
}

.herotitle h    {
    font-size: 40px;
    color: white;
    font-weight: 600;

    margin-bottom: 10px;
}

.herotitle p     {
    margin-top: 10px;
    font-size: 20px;

    font-family: Cabin, Arial, sans-serif;
    font-weight: 400l
}

.herotitle button   {
    background-color: transparent;
    border: 0;
    color: white;
    text-decoration: none;
    font-size: 16px;

    text-align: center;

    transition: all 0.3s;


}

.herotitle button:hover {
    color: gray;

    transition-duration: 0.3s;

    transform: translate(0px, 5px);

    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.herotitle button:active    {
    transform: translate(0px 20px);

}

/* ++++++++++++++++++++Social Media Icons++++++++++++++++++++ */
.herotitle ul {
    list-style-type: none;

    magin-right: 0px;
}
.herotitle li {
    float:left;
    margin-left: 0px;
}

.fa {
    padding-right: 20px;
    font-size: 30px;
    height: 50px;
    text-decoration: none;

    color: white;

    transition: all 0.3s;
}

.fa:hover   {
    transform: translate(0px, -2px);

    color: RGB(150, 150, 200);

    animation-duration: 0.2s;
    transition-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

/* ++++++++++++++++++++Anchors++++++++++++++++++++ */
a.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

/* ++++++++++++++++++++Intro Content Section++++++++++++++++++++ */
.section    {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

#intro  {
    background-color: black;
}

.header {
    background-image: url(images/headshot.jpg);

    width: 100%;

    max-width: 800px;
    height: 50vh;;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0 auto;

    border-radius: 50px;
}

.titlehover {
    background-color: RGBA(204, 108, 53, 0.7);
    padding: 20px;
    width: 350px;
    margin-left: auto;
    transform: translate(20px, 50px);

    border-radius: 20px;
    box-shadow: 0px 0px 10px #010101;
}


.textpadding  {
    padding: 30px;
}

.section h  {
    font-weight: 600;
    font-size: 30px;

    color: white;
    margin-top: 20px;
}

.section p  {
    font-size: 20px;

    color: white;
}

.mobile-header   {
    display: none;
}

/* resizing for mobile views */
@media only screen and (max-width: 640px)   {
    .section  {
        width: 100%;

        padding: 0px;
    }

    .titlehover {
        transform: translate(0, 0);
        background-color: transparent;

        text-align: center;
        padding: 10px;
        width: inherit;

        display: none;
    }

    .header titlehover  {
        display: none;
    }

    .titlehover h   {
        color: RGB(204, 108, 53);
    }

    .introtext  {
        transform: translate(0, 0);
        background-color: transparent;

        padding: 10px;
        width: inherit;
        display: none;
    }

    .textpadding  {
        padding: 0px;
    }

    .header {
        width: 100%;
        height: 500px;
        border-radius: 0px;

        padding: 0px;
        margin: 0px;
    }

    .mobile-header  {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
    }

    .mobile {
        display: block;
        padding: 0;
    }

    .non-mobiletext {
        display: none;
        width: 100%;
    }

    .nav    {
        width: 100%;
        height: 50px
    }

    .nav a {
        font-size: 20px;
    }

    .section h  {
        font-size: 25px;
    }

    .section p  {
        font-size: 14px;
    }

    .section h2 {
        font-size: 20px;
    }

    #video h3 {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    #video img  {
        margin-right: 20px;
    }
    
    .tooltip    {
        font-size: 16px;
    }
    
    .herotitle h    {
        font-size: 45px;
    }
    
    .herotitle  {
        width: 60%;
    }
    
    .section    {
        border-radius: 20px;
    }
}

@media screen and (min-width: 640px)   {
}

/* ++++++++++++++++++++Video Content Section++++++++++++++++++++ */
#video {
    padding-bottom: 20px;
}

#video h {
    margin: 20px;

}

#video h2 {
    margin: 20px;
    color: white;

    padding-left: 10px;
}

#video h3 {
    color: white;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 25px;
}

#video p {
    margin: 20px;
    color: white;
}

#video button   {
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;

    transition: 0.5s;
    width: 100%;

    font-weight: 500;
    font-family: Cabin, Arial, sans-serif;

}

#video button:hover {
    color: white;
    background-color: black;

}

#video img  {
    width: 8%;
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

    transition: all 0.5s;

    min-width: 70px
}

#video img:hover    {
    transform: translateY(10px);
    transition: all 0.5s;
    transition-timing-function: ease;

    opacity: 0.5;
}

#munich {
    border-left: 5px solid #175788;
}

#uwo {
    border-left: 5px solid #4F2683;
}

#wfn {
    border-left: 5px solid #a33221;
}

#hw6 {
    border-left: 5px solid #d1a072;
}

#personal   {
    border-left: 5px solid RGB(204, 108, 53);
}

.wrapper {
  overflow: hidden;
  padding-top: 50%;
  position: relative;
}

.wrapper iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.item p {

}

.newpadding {
    background-color: black;
    padding-top: 20px;
}

#footer {
    background-color: black;


    text-align: center;
    
    clear: left;
    padding-bottom: 20px;
}

#footer a {
    text-decoration: none;
    color: white;

    text-align: center;
}

#footer a:hover {
    color: grey;
    transition-duration: 0.5s;
}


/* ++++++++++++++++++++Code Content Section++++++++++++++++++++ */
#code {
    padding-bottom: 20px;
}

#code h {
    margin: 20px;

}

#code h2 {
    margin: 20px;
    color: white;

    padding-left: 10px;
    border-left: 5px solid rgb(3, 161, 252);
    float: left;
}

#code h3 {
    color: white;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 25px;
}

#code p {
    margin: 20px;
    color: white;
    
    clear: left;
}

#code button   {
    border: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
    
    
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5%;

    transition: 0.2s;
    display:inline-block

    font-weight: 500;
    font-family: Cabin, Arial, sans-serif;

}

#code button:hover {
    color: black;
    background-color: RGB(150, 150, 180);

}

#code .section   {
    padding: 20px 0px;
}

#code .newpadding   {
    padding: 20px 0px;
    background-color: rgb(50, 50, 50);
}

/* ++++++++++++++++++++Design Content Section++++++++++++++++++++ */
#design {
    padding-bottom: 20px;
}

#design h {
    margin: 20px;

}

#design h2 {
    margin: 20px;
    color: white;

    padding-left: 10px;
    border-left: 5px solid rgb(111, 189, 114);
    float: left;
}

#design h3 {
    color: white;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 25px;
}

#design p {
    margin: 20px;
    color: white;
    
    clear: left;
}

#design button   {
    border: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
    
    
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5%;

    transition: 0.2s;
    display:inline-block

    font-weight: 500;
    font-family: Cabin, Arial, sans-serif;

}

#design button:hover {
    color: black;
    background-color: RGB(150, 150, 180);

}

#design .section   {
    padding: 20px 0px;
}

#design .newpadding   {
    padding: 20px 0px;
    background-color: rgb(50, 50, 50);
}

/* ++++++++++++++++++++Pop-ups Content Section++++++++++++++++++++ */
.tooltip    {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 20px;
    opacity: 90%;
    margin-top: 20px;
    display: inline-block;
}

.project    {
    background-color: darkgreen;
}

.class  {
    background-color: #4F2683
}

.hack   {
    background-color: #d1a072;
}

button a    {
    text-decoration: none;
    color: black;
}